<h1>Challenges#index</h1>

<% @challenges.each do |challenge| %>
  Started: <%= challenge.created_at %> Ends: <%= challenge.end_date %>
  <table>
    <tr>
      <th>Hashtag #1 vs</th>
      <th>Hashtag #2</th>
    </tr>
    <tr>
      <td>#<%= challenge.hashtags[0].name %></td>
      <td>#<%= challenge.hashtags[1].name %></td>
    </tr>
    <tr>
      <td>score: <%= challenge.hashtags[0].count %></td>
      <td>score: <%= challenge.hashtags[1].count %></td>
    </tr>
  </table>
  <br/>
<% end %>
