<h1>Hello, Tint!</h1>
<% if current_user %>
  <%= form_for :challenge, url: challenges_path do |f| %>
    <%= f.label "Hashtag #1:" %>
    <%= f.text_field :hashtag1 %>
    <%= f.label "Hashtag #2:" %>
    <%= f.text_field :hashtag2 %>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
    <%= f.submit %>
  <% end %>
<% end %>
